body {
    margin: 0px;
    padding: 0px;
    background-color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


.upperbox {
    margin: auto;
    display: flex;
    width:100%;
    background-color: blue;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

.upperbox button {
    cursor: pointer;
    margin: 2px;
    padding: 8px;
    border: 2px solid white;
    background-color: blue;
    color: white;

}
.heads{
    width:100%;
}
.eventcards {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
button img{
    height:50vh;
}
.eventcards button {
    margin: 10px;
    padding: 10px;
    background-color: blue;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out,
}

.eventcards button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out,
}

a {
    color: white;
    text-decoration: none;
}

.title {
    font-size:1.75vw;
    color: transparent;
    -webkit-text-stroke: 1px rgb(45, 72, 213);

}

.titles {
    font-size:1.75vw;
    margin: 8px;
    color: rgb(45, 72, 213);
}

.heads {
    display: inline-block;
    font-size: 8px;
    padding: 5px;
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    overflow-x: hidden;
}

.end {
    display: inline-flex;
    animation: rotation 3s linear infinite;
    width: 50%;
    justify-content: right;
    align-items: flex-start;
}

.main {
    display: flex;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.last {
    position: absolute;
    height: fit-content;
    display: inline-block;

}

.last button {

    color: yellow;
    background-color: blue;
    font-size: 40px;
    margin: 10px;
    padding: 20px;
}

.up {
    background-color: #ffe0ca;
    display: flex;
    justify-content: center;
    height: 10vh;
    gap: 10px;
}

.up button {
    background-color: transparent;
    border: #ffe0ca;
    font-size: 20px;
}

.up button:hover {
    color: red;
}

.mid img:hover {
    transform: scale(1.05);
    height: 100%;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    justify-content: center;
    height: 70%;
    align-items: center;
}

.cont h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5vmax;
}

.mid {
    align-items: center;
    display: flex;
    position: relative;
}

button:hover {
    transform: scale(1.05);
}